html{
  scroll-behavior: smooth;
}

.cassette{
  margin-top: 10px;
}

body{
  background: rgb(195, 255, 254);
  font-size:16px;
  font-family:'Barlow Condensed', sans-serif;
  line-height:1.2;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

a{
  Color: white;
  font-size:17px;
}
ol{
  background-color: black;
  color: white;
  padding-top: 15px;
  margin-bottom: 60px;
  height: 215px;
  display:block;
  margin-right:auto;
  margin-left:auto;
  list-style-position: inside;
  max-width: 100%;
}
.col{
  column-count: 2;
  column-gap: 05px;
  width: 100%;
  margin: auto;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

li{
  Color: white;
  max-width: 100%;
}

main{
  display:block;
  margin:auto;
  max-width: 500px;
}

img{
  max-width:100%;
}

h1{
  padding-top: -200px;
}

h2{
  text-align: center;
  font-family:'Barlow Condensed', sans-serif;
}

p{
  text-align: center;
  font-family:'Barlow Condensed', sans-serif;
}

/* I centered the main tag */
.center{
display:block;
margin-right:auto;
margin-left:auto;
width:250px;
}

.grid{
  align-items: baseline;
}
.tracklist{
  font-size: 30px;
  margin-top: -10px;
  margin-bottom: -10px;
}
